<% content_for :page_title do %>
  <%= @cocktail.name %> - MisterCocktail
<% end %>

<div class="container">
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
      <h1><%= @cocktail.name %></h1><%= link_to "Edit Cocktail", edit_cocktail_path(@cocktail) %> <%= link_to "Delete Cocktail", cocktail_path(@cocktail),
      method: :delete,
      data: { confirm: "Are you absolutly sure?" } %>
        <hr>
        <% @cocktail.photos.each do |photo| %>
          <%= cl_image_tag photo.path, width: 300, height: 200, crop: :fill %>
        <% end %>
        <hr>
        <% @cocktail.doses.each do |dose| %>
          <p>
           <strong><%= link_to dose.ingredient.name, ingredient_path(dose.ingredient) %>: </strong><%= dose.description %>
          </p>
        <% end %>
        <hr>
        <h3>Add <%= @cocktail.name %>'s ingredients:</h3>
        <%= simple_form_for [@cocktail, @dose] do |f| %>
          <%= f.association :ingredient %>
          <%= f.input :description %>
          <%= f.submit %>
        <% end %>
      </div>
    </div>
  </div>
</div>



